<main class="ms-3">
<div>
  <h1> Name: <em>{{name}}</em>.</h1>
  <p><b> Birth:</b> {{birthdate}} in {{birthplace}}. </p>
  <p><b>Death:</b> {{deathdate}} in {{deathplace}}. </p>
  <p><b>Nationality:</b> {{nationality}}. </p>
  <p><b>Occupation:</b> {{occupation}}. </p>
  <p><b>Known for:</b></p>
   
  {{#each known_for}}
  <div class="row">
      <div class="col-3 ps-4">{{this}}</div>
      </div>
    {{/each}}
    
</div>
<hr />
<div>
  <h3>Education:</h3>
  <ul>
    {{#each education}}
      <p><b>Degree:</b> {{degree}}. </p>
      <p><b>Field:</b> {{field}}. </p>
      <p><b>Institution:</b> {{institution}}.</p>
      <p><b>Year:</b> {{year}}. </p>
    {{/each}}
  </ul>
</div>
<hr />
<div>
  <h3>Notable publications:</h3>
  <ul>
    {{#each notable_publications}}
      <li>
        <p><b>Title - </b> {{title}} </p>
        <p><b>Year - </b> {{year}} </p>
        <p><b>Publisher - </b> {{publisher}} </p>
      </li>
    {{/each}}
  </ul>
</div>
<hr />
<div>
  <h3> Relationships:</h3>
  <ul>
    {{#each partners}}
    <div class="card mt-3">
      <div class="card-header">{{name}} </div>
      <div class="card-body">{{relationship}}</div>
      <div class="card-footer">{{years}}</div>

    </div>
      
    {{/each}}
  </ul>
</div>
<hr />
<div>
  <h3>Awards:</h3>
  <ul>
    {{#each awards}}
      <p><strong>Name - </strong>{{title}}</p>
      <p> <b>Year - </b> {{year}}</p>
      <p> <b>Description - </b> {{description}}</p>
    {{/each}}
  </ul>
</div>
<hr />
<div>
  
  
</div>
<div class="row">
  <div class="col-6 text-center"> 
    <h3>List of influences:</h3>
    {{#each influences}}
      {{this}}
      {{#unless @last}},
      {{else}}.
      {{/unless}}
    {{/each}}
  </div>

    <div class="col-6 text-center"> 
    <h3>List of influences:</h3>
    {{#each influenced}}
      {{this}}
      {{#unless @last}},
      {{else}}.
      {{/unless}}
    {{/each}}
  </div>

</div>
<br />
<div>
  <h3>His famous quotes:</h3>
  <ul>
    {{#each quotes}} <li>
      <q>{{this}}</q>
    {{/each}}</li>
  </ul>
</div>
<hr>
<div>
  <h3>Major discoveries:</h3>
  <ul>
    {{#each major_discoveries}}
      <p><b>Title - </b> {{title}} </p>
      <p><b>Year - </b> {{year}} </p>
      <p><b>Description - </b> {{description}} </p>
      <br />
    {{/each}}
</div>
<br>
<div>
  <h3>Contributions:</h3>
  <ul>
    {{#with contributions}}
      <p><b>Title - </b> {{title}} </p>
      <p><b>Description - </b> {{description}} </p>
      <p><b>Year - </b> {{year}} </p>
      <p><b>Field - </b> {{field}} </p>
      <br />
    {{/with}}
</div>
</main>