<main class="ms-3">
{{#with navigation}}
  <div class='card'>
    <div class='nav'>
      {{#each links}}
        <div class='nav-item'>
          {{#unless @last}}
            <a href='{{href}}' class='nav-link'>{{text}}
            </a>
          {{else}}
            <a href='{{href}}' class='nav-link disabled'>
              {{text}}
            </a>
          {{/unless}}
        </div>
      {{/each}}
    </div>
  </div>
{{/with}}
{{! ================== }}
{{#with newsBlock}}
  <div class='text-center mt-5 mb-3'>
    <b>{{title}}</b>
  </div>
  <div class='row g-2'>
    {{#each cards}}
      <div class='col-3'>
        <div class='card text-bg-dark'>
          <div class='card-header'>
            {{title}}
            {{#if isTop}}
              <span
                class='badge text-bg-success rounded-pill'
              > TopNew </span>
            {{/if}}
            {{#if isNew}}
              <span
                class='badge text-bg-warning rounded-pill'
              > FreshNew </span>
            {{/if}}
          </div>
          <div class='card-body'> {{description}} </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/with}}
<hr />
<div class='row'>
  {{#with goodsBlock}}
    <div class='nav nav-tabs m-4'>
      {{#each tabs}}
        <div class='col-2 mx-2'>
          <div class='nav-item'>
            {{#if isActive}}
              <a href='#' class='nav-link active'>{{text}}</a>
            {{else}}
                {{#if isDisabled}}
                <a href='#' class='nav-link disabled'>{{text}}</a>
                {{else}}
                <a href='#' class='nav-link'>{{text}}</a>
                {{/if}}
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>
        {{#each cards}}
        <div class='col-4 gy-4 mb-4'>
          <div class='card'>
            <img class='card-img-top' src='{{image}}' />
            <div class='card-body'>
              <div class='card-title'> <b>{{title}}</b>
                  {{#if isHot}}
                <span
                  class='badge text-bg-warning rounded-pill'
                > TopNew </span>
              {{/if}}
              {{#if isNew}}
                <span
                  class='badge text-bg-primary rounded-pill'
                > FreshNew </span>
              {{/if}}
               </div>
              <p> {{description}} </p>
            </div>
          </div>
        </div>
      {{/each}}
</div>
{{/with}}
<hr>
{{#with subscribe }}
  <div class="card text-bg-dark mt-5 mb-5">
    <h2 class="ps-2"> {{header}} </h2>
    <p class="ps-2"> {{description}} </p>
    {{#each buttons}}
      <p class="ps-2"><a href="{{link}}" class="btn btn-primary"> {{text}} </a>
    </p>{{/each}}

  </div>
  {{/with}}
  <hr>

  {{#with service }}
  <div class="card text-bg-success text-center mt-5 mb-5">
    <h2 class="p-2"> {{title}} </h2>
    <p class="p-2"> {{description}} </p>
    {{#each buttons}}
      <p class="pb-2"><a href="{{link}}" class="btn btn-primary "> {{text}} </a>
    </p>{{/each}}
   
  </div>
  {{/with}}
  <hr>
  <div class="row">
<div class="col-12 nav">
{{#each footer}}
    <ul>
        {{#each this}}
            <div class="nav-item ">
                {{#unless @last}}
                    <a href="{{link}}" class="nav-link">{{text}}</a>
                    {{else}}
                        <a href="{{link}}" class="nav-link disabled">{{text}}</a>
                {{/unless}}   
            </div>
        {{/each}}
    </ul>
{{/each}}
</div> 
</div>
</main>
  

