{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
  {{#with main}}
      <main>
      <section>
        {{> title data="Work history" big=true}}
          <div>
            <ul>
              {{#each works}}
                <li>
                  <div> {{position}} </div>


                  <div class="mb-3 mt-3"> 
                    {{duration.from}} - 
                    {{#if duration.to}}
                       {{duration.to}} 
                    {{else}} 
                      (Досі працюємо) 
                    {{/if}} </div>
                  
                  {{#if company.url}}
                      <div class="mb-3 mt-3"> {{>link text=company.name href=company.url blank=true noLine=true}} </div>
                  {{else}} 
                        <b>{{company.name}}</b>
                  {{/if}}
                 

                  <div><strong>Projects ({{projectAmount}})</strong> </div>

                  <ul>
                    {{#each projects}}
                    <li>
                      
                        <div> {{>link text=name href=url blank=true noLine=true}} </div>
                       
                          
                          <div class="mb-3 mt-3">
                              <p> {{about}}</p>
                          </div>
                           <div> 
                              <em>Project stacks</em> ({{stackAmount}})
                           </div>
                            <ul>
                              <div>
                                    {{#each stacks}}
                                    <li>{{name}}</li>
                                  {{/each}}
                              </div>
                             </ul> 
                           <div class=" mt-3"> 
                              <em>Project awards</em>
                           </div>
                           <ul>
                              <div>
                                {{#each awards}}
                                  <li>{{name}}</li>
                                {{/each}}
                              </div>
                            </ul>
                    {{/each}}
                  </ul>
                </li>
              {{/each}}
            </ul>
        </div>
      </section>
    </main>
  {{/with}}
  

</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}